.ColourPalette {
  padding-top: 2.67rem;
}

.ColourPalette-title {
  padding-bottom: 1rem;
  font-family: var(--font-monospace);
  font-size: 0.67rem;
  text-align: center;
}

.ColourPalette-colours-container {
  display: flex;
  justify-content: space-around;
}

.ColourPalette-colour-box {
  font-family: var(--font-monospace);
  font-size: 0.6rem;
}

.ColourPalette-colour-box-box {
  width: 2.67rem;
  height: 2.67rem;
  border-radius: 0.56rem;
}

.ColourPalette-colour-box-hex {
  padding-top: 0.22rem; 
}

.ColourPalette-colour-box-percentage {
  color: var(--dark-grey);
}