.FetchedImage {
  padding-top: 2.11rem;
  text-align: center;
}

.FetchedImage-image {
  width: 85vw;
  height: 85vw;
  border-radius: 1.11rem;
  box-shadow: var(--shadow-normal);
  background-size: cover;
}

.FetchedImage-author {
  padding-top: 0.67rem;
  padding-bottom: 1.94rem;
  font-family: var(--font-monospace);
  font-size: 0.56rem;
  color: var(--dark-grey);
}

.FetchedImage-author-name {
  text-decoration: underline;
}

.FetchedImage-author a {
  color: var(--dark-grey);
}