:root {
  font-size: 18px;

  /* Font family */
  --font-monospace: 'Roboto Mono', monospace;

  /* Colours */
  --black:      #000000;
  --grey:       #dedede;
  --dark-grey:  #b7b7b7;

  /* Box shadows */
  --shadow-normal: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  --shadow-neumorphism-light: -6px -6px 16px 0 rgba(255, 255, 255, 0.55);
  --shadow-neumorphism-dark: 6px 6px 16px 0 rgba(0, 0, 0, 0.15);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
