.NeumorphismButton {
  display: inline-block;
  padding: 0.83rem 1.61rem;
  border-radius: 9px;
  background-color: var(--grey);
  font-family: var(--font-monospace);
  font-size: 0.78rem;
  box-shadow: var(--shadow-neumorphism-light), var(--shadow-neumorphism-dark);
  cursor: pointer;
}